{% extends "body.twig" %}

{% block main %}

<div class="container my-5" style="text-align:center">
	<a href="/new-animal" class="btn btn-primary my-5">
		New animal
	</a>

	<div class="row">

		{% for animal in animals %}
			{% include "animal/animalCard.twig" %}
		{% endfor %}
	</div>

</div>

{% endblock %}