<header class="site-header">
	<div class="px-3 py-2 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="/animals" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#speedometer2"></use>
							</svg>
							Animal
						</a>
					</li>
					<li>
						<a href="/new-animal" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#table"></use>
							</svg>
							New animal
						</a>
					</li>
					<li>
						<a href="/veterinarians" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#grid"></use>
							</svg>
							Veterinarians
						</a>
					</li>
					<li>
						<a href="/new-veterinarian" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
							New veterinarian
						</a>
					</li>
					
					<li>
						<a href="/new-customer" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
							New customer
						</a>
					</li>

					<li>
						<a href="/veterinary-practices" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
							Veterinary pactices
						</a>
					</li>

					<li>
						<a href="/veterinary-cares" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
							Veterinary cares
						</a>
					</li>

					<li>
						<a href="/new-veterinary-care" class="nav-link text-white">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
							New veterinary Care
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
