<header class="site-header">
	<div class="px-3 py-2 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="/animals" class="nav-link text-white">
							Animal
						</a>
					</li>

					<li>
						<a href="/veterinarians" class="nav-link text-white">
							Veterinarians
						</a>
					</li>

					<li>
						<a href="/customers" class="nav-link text-white">
							Customers
						</a>
					</li>

					<li>
						<a href="/veterinary-practices" class="nav-link text-white">
							Veterinary pactices
						</a>
					</li>

					<li>
						<a href="/veterinary-cares" class="nav-link text-white">
							Veterinary cares
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
