{% extends "body.twig" %}

{% block main %}


<div class="container mt-5">
	<h1 class="show-1 mb-4">
		{{ veterinaryPractice.name | capitalize}}
	</h1>

	{% if veterinaryPractice.address is not null %}
		<p class="mb-3"><b>Address :</b> {{ veterinaryPractice.address }}</p>
	{% endif %}

	<h2 class="mt-5 mb-4">Veterinarian of the vatarinary practice</h2>
	<section class="row gx-2 mt-3">
	{% for veterinarian in veterinarians %}
		{% include "veterinarian/veterinarianCard.twig" %}
	{% endfor %}
	</section>
</div>

{% endblock %}